{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "comments": true,
  "sourceMaps": false,
  "plugins": [
      "transform-flow-strip-types",
      [
          "module-alias",
          [
              { "src": "./src/tools", "expose": "tools" },
              { "src": "./src/intelligence", "expose": "intelligence" },
              { "src": "./config", "expose": "config" }
          ]
      ]
   ]
}
